hw/board/*.lck
hw/board/*\#*
RoboBulls-build-desktop-Qt_4_8_3_in_PATH__System__Release
*build-desktop-Qt*
*.user
*.o
*.autosave
*.*~
/bin
*.pdb
src/model/team/controllers/normal_game/behaviors/dummy.cpp
src/model/team/controllers/strategy_tester/strategies/test_strategy.cpp
